/* .board {
  flex-wrap: wrap;
} */

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(150, 150, 150);
}

.boardSize {
  display: flex;
  height: 10rem;
  width: 30rem;
  background-color: rgb(0, 0, 0);
  color: white;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: .25rem;
  border-radius: 15px;

}

.sizeButton {
  margin: .5rem;
  height: 2rem;
  background-color: black;
  color: white;
  border: 3px solid white;
  font-size: 18px;
  border-radius: 15px;
}



.inside {
  /* width: 50px;
  height: 50px; */
  /* border: 1px solid black; */
  background-color: rgb(21, 255, 0);
  flex: 1;
  display: flex;
  flex-direction: column;
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
}

.drawn {
  flex: 1;
  background-color: black;
  border: 1px solid black;
}

.column {
  flex: 1;
  background-color: wheat;
  border: 1px solid black;
}

.column:hover {
  background-color: black;
}
